@namespace GraphQLClient.Layout

<nav>
    <a href="/">Главная</a>
    <a href="/students">Ученики</a>
    <a href="/teachers">Учителя</a>
    <a href="/journal">Журнал</a>
    <a href="/student-card">Карточка ученика</a>
</nav>